### Linux ###
*~
.fuse_hidden*
.Trash-*
.nfs*

### Windows ###
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.lnk
.pdf

### Eclipse ###
.metadata
bin/
bintest/
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.launch
.factorypath
.recommenders/
.apt_generated/
.project
.classpath
.apt_generated

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.flattened-pom.xml

angular/src/main/angular/*
!angular/src/main/angular/DND
docs/*.architect
docs/leggimi*.md
web/src/main/angular/*
!web/src/main/angular/DND
