<!--
SPDX-FileCopyrightText: Copyright 2022 | Regione Piemonte
SPDX-License-Identifier: EUPL-1.2
-->
<h3>Dettaglio</h3>
<!-- <div class="row">
  <div class="col">
  </div>
  <div class="col-auto">
    <button type="button"
    (click)="onClickConfermaComp()"
    class="btn btn-primary ml-auto btn-lg"
    >CONFERMA COMPENSAZIONI</button>
  </div>
</div> -->
<form *ngIf="form" [formGroup]="form">
    <div class="row">
        <div class="form-group col-sm-12 col-md-3">
            <label for="ProvComp">Provincia per cui si compensa <span class="oblg" title="campo obbligatorio">*</span></label>
            <select id="ProvComp"
                formControlName="prospettoProv"
                name="ProvComp" class="form-select">
                <option [ngValue]="null"></option>
                <option *ngFor="let prosProv of ilProspettoProvincia" [ngValue]="prosProv">{{prosProv?.provincia?.dsProTProvincia}}</option>
            </select>
            <!-- div *ngIf="f?.prospettoProv?.errors" class="text-danger">
              <div *ngIf="f?.prospettoProv?.errors?.required">{{'ERROR.FIELD.REQUIRED' | translate}}</div>
            </div -->
        </div>
        <div class="form-group col-sm-12 col-md-3">
            <label for="provincia">Provincia<span class="oblg" title="campo obbligatorio">*</span></label>
            <select id="provincia"
                name="provincia"
                formControlName="provincia"
                class="form-select">
                <option [ngValue]="null"></option>
                  <option *ngFor="let prov of comboProvince" [ngValue]="prov">{{prov?.dsProTProvincia}}</option>
            </select>

        </div>
        <div class="form-group col-sm-12 col-md-3">
          <label for="catComp">Categoria compensazione<span class="oblg" title="campo obbligatorio">*</span></label>
          <select id="catComp"
              formControlName="categoriaCompensazione"
              name="catComp"
              class="form-select">
              <option [ngValue]="null"></option>
                <option *ngFor="let catComp of comboCategoriaComp" [ngValue]="catComp?.codice">{{catComp?.descrizione}}</option>
          </select>

        </div>
    </div>
    <div class="row">
        <div class="form-group col-sm-12 col-md-2">
            <label for="nLav">Numero lavoratori <span class="oblg" title="campo obbligatorio">*</span></label>
            <input type="text" formControlName="nLavoratori" prodisDigitOnly length="5" class="form-control"  id="nLav">
        </div>
        <div class="form-group col-sm-12 col-md-1"></div>
        <div class="form-group col-sm-12 col-md-3">
          <label for="catSogg">Categoria soggetto</label>
          <select id="catSogg"
              formControlName="categoriaSoggetto"
              name="catSogg"
              class="form-select">
              <option [ngValue]="null"></option>
                <option *ngFor="let catSogg of comboCategoriaSogg" [ngValue]="catSogg.codice">{{catSogg?.descrizione}}</option>
          </select>
        </div>
        <div class="form-group col-sm-12 col-md-3">
              <label for="cfAziendaGr">Codice fiscale azienda del gruppo</label>
              <input type="text" class="form-control" formControlName="cfAziendaAppartenAlGruppo"  id="cfAziendaGr">
        </div>
  </div>
</form>
<div class="row">
  <div class="col">
    <!-- <button type="button" (click)="resetFiltri()" class="btn btn-link">ANNULLA FILTRI</button>  -->
  <button type="button" class="btn btn-outline-secondary btn-sm"
        (click)="onClickReset()">ANNULLA</button>
  </div>
  <div class="col-auto">
    <button
    [disabled]="!selectedItem"
    class="btn btn-primary ml-auto btn-lg"
    type="button"
    (click)="deleteCompensazioni()"
    >ELIMINA</button>
  </div>
  <div class="col-auto">
      <button type="button"
      [disabled]="!form?.valid"
      (click)="conferma()"
      class="btn btn-outline-secondary btn-sm"
        >CONFERMA</button>
  </div>
</div>
<div class="card mt-3 mb-3">
    <div class="card-body">
      <h3>Elenco compensazioni territoriali</h3>
        <form *ngIf="formElencoComp" [formGroup]="formElencoComp">
            <prodis-paginated-array-table *ngIf="elencoTab && elencoTab.length > 0" [columnNumber]="16" [pagedResponse]="elencoTab" [limit]="10">
                <ng-template prodisPaginationHead>
                <tr>
                    <th scope="col">Sel.</th>
                    <th scope="col">Stato concessione</th>
                    <th scope="col">Provincia per cui si compensa</th>
                    <th scope="col">Categoria soggetto</th>
                    <th scope="col">Eccedenza</th>
                    <th scope="col">Riduzione</th>
                    <th scope="col">Provincia compensazione</th>
                    <th scope="col">Cf azienda del gruppo</th>
                </tr>
                </ng-template>
                <ng-template prodisPaginationBody let-item>
                <tr>
                    <td>
                    <input  [value]="item" name="radioEl" formControlName="radioEl" (change)="setSelectedItem(item)" type="radio">
                    </td>
                    <td>{{item?.statoConcessione}}</td>
                    <td>{{item?.dsProvinciaPerCuiSiCompensa}}</td>
                    <td>{{item?.categoriaSoggetto}}</td>
                    <td>{{item?.eccedenza}}</td>
                    <td>{{item?.riduzione}}</td>
                    <td>{{item?.dsProvincia}}</td>
                    <td>{{item?.cfAziendaDelGruppo}}</td>
                </tr>
                </ng-template>
            </prodis-paginated-array-table>
            <div *ngIf="!elencoTab || (elencoTab && elencoTab.length <= 0)" class="alert alert-warning" role="alert">
                {{ 'PROSPETTO.ASS_PUB_SEL.WARN_MSG' | translate}}
            </div>
        </form>
    </div><!-- /card-body-->
  </div><!-- /card-->
  <div class="card mt-3 mb-3">
    <div class="card-body">
      <h3>Riepilogo scoperture</h3>
      <prodis-paginated-array-table *ngIf="elencoProvScoperture && elencoProvScoperture.length > 0" [columnNumber]="16" [pagedResponse]="elencoProvScoperture" [limit]="10">
        <ng-template prodisPaginationHead>
          <tr>
            <th scope="col">Prov.</th>
            <th scope="col">N° Scoperture disabili</th>
            <th scope="col">N° Esuberi disabili</th>
            <th scope="col">N° Scoperture categorie protette</th>
            <th scope="col">N° Esuberi categorie protette</th>
            <th scope="col">Categoria compensazione disabili</th>
            <th scope="col">N° compensazione disabili</th>
            <th scope="col">Categoria compensazione Categorie protette</th>
            <th scope="col">N° compensazione categorie protette</th>
          </tr>
        </ng-template>
        <ng-template prodisPaginationBody let-item>
          <tr>
            <td>{{item.dsTarga}}</td>
            <td>
              <ng-container *ngIf="item.numScopertDisab > 0; else elseNotDone">
                {{getAbsoluteValue(item.numScopertDisab)}}
              </ng-container>
              <ng-template #elseNotDone>
                0
              </ng-template>
            </td>
            <td>
              <ng-container *ngIf="item.numScopertDisab <= 0; else elseNotDone">
                {{getAbsoluteValue(item.numScopertDisab)}}
              </ng-container>
              <ng-template #elseNotDone>
                0
              </ng-template>
            </td>
            <td>
              <ng-container *ngIf="item.numScopertCatprot > 0; else elseNotDone">
                {{getAbsoluteValue(item.numScopertCatprot)}}
              </ng-container>
              <ng-template #elseNotDone>
                0
              </ng-template>
            </td>
            <td>
              <ng-container *ngIf="item?.numScopertCatprot <= 0; else elseNotDone">
                {{getAbsoluteValue(item?.numScopertCatprot)}}
              </ng-container>
              <ng-template #elseNotDone>
                0
              </ng-template>
            </td>
            <td>{{item?.catCompensDisab}}</td>
            <td>{{getAbsoluteValue(item?.numCompenDisab)}}</td>
            <td>{{item?.catCompensCatprot}}</td>
            <td>{{getAbsoluteValue(item?.numCompenCatprot)}}</td>
        </ng-template>
      </prodis-paginated-array-table>
      <div *ngIf="!elencoProvScoperture || (elencoProvScoperture && elencoProvScoperture.length <= 0)" class="alert alert-warning" role="alert">
        {{ 'PROSPETTO.ASS_PUB_SEL.WARN_MSG' | translate}}
    </div>
    </div>
  </div>
