<!--
SPDX-FileCopyrightText: Copyright 2022 | Regione Piemonte
SPDX-License-Identifier: EUPL-1.2
-->
<div class="row">
  <div class="col-sm-12 col-md-3">N.lavoratori in forza nazionale <span
      class="valore">{{prospetto?.numLavorInForzaNazionale}}</span></div>
  <div class="col-sm-12 col-md-3">N. lav. (base computo Art. 3) <span
      class="valore">{{prospetto?.riepilogoNazionale?.baseComputoArt3}}</span></div>
  <div class="col-sm-12 col-md-3">N. lav. (base computo Art. 18) <span
      class="valore">{{prospetto?.riepilogoNazionale?.baseComputoArt18}}</span></div>
  <div class="col-sm-12 col-md-3">Categoria azienda L.68/99 art.3 c.1 <span
      class="valore">{{prospetto?.categoriaAzienda?.desCategoriaAzienda }}</span></div>
</div>
