<!--
SPDX-FileCopyrightText: Copyright 2022 | Regione Piemonte
SPDX-License-Identifier: EUPL-1.2
-->
<h2>Dettaglio lavoratore</h2>

<div class="card mt-3 mb-3">
  <div class="card-body">

    <div class="row">
      <div class="col-sm-12 col-md-3">Codice fiscale <span class="valore">GMBGPP61E02B429K</span></div>
      <div class="col-sm-12 col-md-3">Cognome  <span class="valore">GIAMBARRESI</span></div>
      <div class="col-sm-12 col-md-3">Nome  <span class="valore">GIUSEPPE</span></div>
      <div class="col-sm-12 col-md-3">Sesso:  <span class="valore">M</span></div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-4">Data di nascita <span class="valore">05/05/1960</span></div>
      <div class="col-sm-12 col-md-4">Comune di nascita <span class="valore">Torino</span></div>
      <div class="col-sm-12 col-md-4">Percentuale di disabilità:  <span class="valore">60%</span></div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-3">Data inizio rapporto  <span class="valore">11/11/2000</span></div>
      <div class="col-sm-12 col-md-3">Tipologia contrattuale  <span class="valore">TEMPO INDETERMINATO</span></div>
      <div class="col-sm-12 col-md-3">Forma contratto  <span class="valore">INDETERMINATO</span></div>
      <div class="col-sm-12 col-md-3">Data fine rapporto  <span class="valore"> N.D.</span></div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6">Qualifica professionale ISTAT  <span class="valore">4.1.1.2.0.7 - Operatore amministrativo</span></div>
      <div class="col-sm-12 col-md-6">Tipo assunzione protetta   <span class="valore">Nessuna delle precedenti</span></div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6">Orario settimanale (ore:minuti)   <span class="valore">36:00</span></div>
      <div class="col-sm-12 col-md-6">Orario settimanale part-time (ore:minuti)  <span class="valore">N.D.</span></div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-6">Categoria soggetto   <span class="valore">Categoria protetta</span></div>
      <div class="col-sm-12 col-md-6">Categoria assunzione  <span class="valore">Assunzione nominativa</span></div>
    </div>


  </div>
</div>
